.home_service_main {
    min-height: 80vh;
}

.home_service_main section {
    padding: 70px 17%;
}

.home_service_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    grid-gap: 1.5rem;
    margin-top: 4rem;
}

.home_service_s_box {
    text-align: center;
    padding: 20px 30px;
}

.home_service_s_box img {
    width: 90px;
}

.home_service_s_box h3 {
    margin: 4px 0 10px;
    color: #bf2e19;
    font-size: 1.2rem;
}

.home_service_s_box p {
    line-height: 1.7;
}