
.image_banner {
    width: 80vw;
}

.image_banner img{
    border-radius: 25px;
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.cancel_image {
    color: red;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
}