
.forgot_password_main h1 {
    font-size: 2.25rem;
    font-weight: 700;
    font-style: italic;
}

.forgot_password_main h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.forgot_password_main a {
    text-decoration: none;
    color: #bf2e19;
}

.forgot_password_main a:hover {
    text-decoration: underline;
}

.forgot_password_main .auth_small {
    font-size: 80%;
    text-align: center;
}