.password_main {
    min-height: 100vh;
}

.password_main_container  {
    position: absolute;
    top: 50%;
    width: calc(100% - 260px);
    left: 40%;
    min-height: calc(100vh- 60px);

}

@media (max-width: 768px) {
    .password_main_container {
        left: 40%;
    }
}
